<div #container class="store-wrapper"
     [style.--cols]="columns()"
     [style.--item-h.px]="itemHeight">
  <button (click)="goBack()">Go Back</button>

  <cdk-virtual-scroll-viewport
    [itemSize]="itemHeight"
    class="viewport"
    (scrolledIndexChange)="onScrollIndexChange($event)">

    <div *cdkVirtualFor="let row of rows(); trackBy: trackByRow" class="grid-row">
      @for (node of row; track node.uuid) {
      <app-store-element [data]="node" class="grid-item" />
      }
    </div>
  </cdk-virtual-scroll-viewport>
</div>
