.store-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.viewport {
  height: 100%;
  width: 100%;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  height: var(--item-h);
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
}

.grid-item {
  height: 200px;
  width: 200px;
  padding: 10px;
}
