<div class="store-element">
  <nz-card nzHoverable
           [nzCover]="coverTemplate"
           [attr.role]="data.type === 'FOLDER' ? 'button' : null"
           [attr.tabindex]="data.type === 'FOLDER' ? 0 : null"
           [attr.aria-label]="data.name"
           (click)="open()"
           (keydown)="onCardKeydown($event)"
           (contextmenu)="openContextMenu($event, menu)">

    <nz-card-meta [nzTitle]="data.name"
                  [nzDescription]="displaySize" />
  </nz-card>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item [nzDisabled]="isDownloading" (click)="download()">
      <nz-icon nzType="download" aria-hidden="true" /> Download
    </li>
    <li nz-menu-item nzDanger (click)="onDeleteClick()">
      <nz-icon nzType="delete" aria-hidden="true" /> Delete
    </li>
  </ul>
</nz-dropdown-menu>

<ng-template #coverTemplate>
  <div class="card-cover-wrapper">
    @if (previewFailed || !previewObjectUrl) {
      <div class="file-icon-placeholder">
        <nz-icon [nzType]="fallbackIcon" aria-hidden="true" />
      </div>
    } @else {
      <img [alt]="data.name"
           [src]="previewObjectUrl"
           class="preview-thumb"
           (error)="onPreviewError()" />
    }
  </div>
</ng-template>
